<body class="tela-bem-vindo">
    <header>
        <img src="assets/img/easy_food_amarelo_logo.svg">
    </header>

    <main>
        <h1>Bem vindo (a) ao Easy Food!</h1>
        <div class="container-menus">
            <h5>Criar Cadastro de estabelecimento</h5>
            <h5>Criar Cadastro de cliente</h5>
            <a routerLink="/login">
                <h5>Sou cliente ou estabelecimento e quero logar</h5>
            </a>
            <a>
                <h5 id="link-principal">Só quero fazer um pedido!</h5>
            </a>
        </div>
    </main>

</body>