<main>
    <section id="container-main-conta-mobile" class="container-main-conta-mobile">
        <div class="container-main-conta-mobile-select-menu">

            <div class="container-main-conta-mobile-menu">
                <div>
                    <img src="assets/img/chats.svg">
                    <div class="container-main-conta-mobile-menu-descricao">Chats</div>
                </div>
                <div>
                    <img src="assets/img/seta_direita_vermelha.svg">
                </div>
            </div>

            <div class="container-main-conta-mobile-menu">
                <div>
                    <img src="assets/img/pagamentos.svg">
                    <div class="container-main-conta-mobile-menu-descricao">Pagamentos</div>
                </div>
                <div>
                    <img src="assets/img/seta_direita_vermelha.svg">
                </div>
            </div>

            <div class="container-main-conta-mobile-menu">
                <div>
                    <img src="assets/img/enderecos_entrega.svg">
                    <div class="container-main-conta-mobile-menu-descricao">Meus endereços de entrega</div>
                </div>
                <div>
                    <img src="assets/img/seta_direita_vermelha.svg">
                </div>
            </div>

            <div class="container-main-conta-mobile-menu">
                <div>
                    <img src="assets/img/favoritos.svg">
                    <div class="container-main-conta-mobile-menu-descricao">Favoritos</div>
                </div>
                <div>
                    <img src="assets/img/seta_direita_vermelha.svg">
                </div>
            </div>

            <div class="container-main-conta-mobile-menu">
                <div>
                    <img src="assets/img/meus_dados.svg">
                    <div class="container-main-conta-mobile-menu-descricao">
                        Meus dados
                    </div>
                </div>
                <div>
                    <img src="assets/img/seta_direita_vermelha.svg">
                </div>
            </div>

        </div>

        <div class="container-main-conta-mobile-select-menus-soltos">
            <div class="container-main-conta-mobile-select-menu-solto">
                <div>
                    <img src="assets/img/ajuda.svg" style="padding-left: 1px;">
                    <div class="container-main-conta-mobile-menu-descricao" style="padding-left: 11px;">Ajuda</div>
                </div>
            </div>

            <div class="container-main-conta-mobile-select-menu-solto">
                <div>
                    <img src="assets/img/configuracoes.svg">
                    <div class="container-main-conta-mobile-menu-descricao">Configuração</div>
                </div>
            </div>

            <div class="container-main-conta-mobile-select-menu-solto">
                <div>
                    <img src="assets/img/seguranca.svg">
                    <div class="container-main-conta-mobile-menu-descricao">Segurança</div>
                </div>
            </div>

            <div class="container-main-conta-mobile-select-menu-solto">
                <div>
                    <img src="assets/img/sugerir.svg">
                    <div class="container-main-conta-mobile-menu-descricao">Sugerir restaurantes</div>
                </div>
            </div>
        </div>

        <div class="area_botoes">
            <a routerLink="/login" id="btncontaMobile" class="botao-main-rodape">
                <input class="botao-encerrar-sessao-mobile" type="button" value="ENCERRAR SESSÃO" />
            </a>
        </div>

    </section>
    <section id="container-main-conta-desktop" class="container-main-conta-desktop">
        Layouts acima de 875px de largura ou 660px de altura não foram desenvolvidos :-(
    </section>
</main>