<div class="tela-aguardar">

    <main class="container-fluid container-aguardar-principal">

        <div id="container-aguardar-aviso" class="container-aguardar-aviso">
            <div>
                Por favor, aguarde até
            </div>
            <div class="container-aguardar-aviso-img">
                <img src="assets/img/aguarde_3minutos.svg">
                <div class="container-aguardar-aviso-tempo">3</div>
            </div>
            <div style="text-align: center;">
                minutos enquanto o(a) {{estabelecimentoEscolhido.categoria}} {{estabelecimentoEscolhido.nome}}
                analisa seu pedido!
            </div>
        </div>

    </main>

</div>