<footer>
    <div id="container-footer-principal-mobile" class="container-footer-principal-mobile">
        <a routerLink="/principal">
            <div>
                <img src="assets/img/home.svg">
            </div>
        </a>
        <a routerLink="/buscar">
            <div>
                <img src="assets/img/lupa.svg">
            </div>
        </a>
        <a routerLink="/meus_pedidos">
            <div>
                <img src="assets/img/menu_hamburguer.svg">
            </div>
        </a>
        <a routerLink="/minha_conta">
            <div>
                <img src="assets/img/conta.svg">
            </div>
        </a>
    </div>
</footer>