<div class="tela-pedido-aceito">

    <main class="container-fluid container-pedido-aceito-principal">
        <div id="container-pedido-aceito-aviso" class="container-pedido-aceito-aviso">
            <div>
                Seu pedido foi aceito!
            </div>
            <div class="container-pedido-aceito-aviso-img">
                <img src="assets/img/Loading_verde.svg"
                    style="-webkit-mask-image: linear-gradient(360deg, black, transparent 95%);">
                <div class="container-pedido-aceito-int">
                    <img src="assets/img/aceito_verde.svg">
                </div>
            </div>
            <div>
                Agradecemos sua preferência!
            </div>
            <div class="container-pedido-aceito-inf">
                Um email com os dados do pedido foi enviado para você!
            </div>

            <div class="area-botao">

                <input class="botao-ver-detalhes-mobile" type="button" value="VER DETALHES"
                    (click)="setarNavegacao()" />

            </div>
        </div>
    </main>

</div>