<header>
    <section id="container-header-meus-pedidos-desktop" class="container-header-meus-pedidos-desktop">
        <img src="assets/img/easy_food_vermelho_logo.svg">
    </section>

    <section id="container-header-meus-pedidos-mobile" class="container-header-meus-pedidos-mobile">
        <a routerLink="{{rotaAnterior}}">
            <div class="container-header-meus-pedidos-mobile-seta">
                <img src="assets/img/seta_esquerda.svg">
            </div>
        </a>
        <div class="container-header-meus-pedidos-mobile-titulo">
            <h1>Meus pedidos</h1>
        </div>
    </section>
</header>