/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
    scrollbar-width: none;
}

* {
    box-sizing: border-box;
    transition: .2s linear;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

a:link {
    text-decoration: none;
    width: 100%;
    color: inherit;
}

a:visited {
    text-decoration: none;
    width: 100%;
    color: inherit;
}

li {
    list-style-type: none;
}