<header>
    <section id="container-header-conta-desktop" class="container-header-conta-desktop">
        <img src="assets/img/easy_food_vermelho_logo.svg">
    </section>

    <section id="container-header-conta-mobile" class="container-header-conta-mobile">

        <div class="container-header-conta-mobile-simbolo">
            <img src="assets/img/easy_food_pequeno_logo.svg">
        </div>

        <div class="container-header-conta-mobile-titulo">
            <h1>{{usuarioNome}}</h1>
        </div>
    </section>
</header>