<header>
    <div id="container-header-buscar-desktop" class="container-header-buscar-desktop">
        <img src="assets/img/easy_food_vermelho_logo.svg">
    </div>

    <div id="container-header-buscar-mobile" class="container-header-buscar-mobile">
        <a routerLink="/principal">
            <div class="container-header-buscar-mobile-seta">
                <img src="assets/img/seta_esquerda.svg">
            </div>
        </a>
        <div class="container-header-buscar-mobile-titulo">
            <h1>{{usuarioNome}}</h1>
        </div>
    </div>
</header>